<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="expires" content="-1">

	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="language" content="en">

	<title>{{title}}</title>

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/vendor/css/styles.css">

</head>

<header>
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<img class="header__logo" src="/vendor/img/logo.png" width="215" height="24" alt="The Co-operative Bank">
				</div>
			</div>
		</div>

		<div class="header__divider"></div>

		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<a href="welcome.html">
            <h1 class="header__form-name">{{title}}</h1>
          </a>
				</div>
			</div>
		</div>

		<div class="header__divider--large"></div>
	</div>
</header>
