<nav>
  <h2 class="nav-head">Please select the change request that meet your needs (More than one can be selected)</h2>
  <hr>
	<ul class="navigation-menu">
    <li>
			<a href="#" aria-controls="lets-get-started">
	      <div class="nav-icon">
		      <svg role="img" aria-hidden="true" class="symbol symbol-angle-right" preserveAspectRatio="xMidYMid meet">
            <use xlink:href="/vendor/symbols/svg-symbols.svg#symbol-angle-right"></use>
          </svg>
	      </div>
	       Lets get started
				 <div id="letsgetstartedtick" class="submitted-tick">
					<img height="20px" border-radius="50%" src="/image/download.png">
				</div>
      </a>
		</li>
        <li>
    			<a href="#" aria-controls="sign-off">
    	      <div class="nav-icon">
    		      <svg role="img" aria-hidden="true" class="symbol symbol-angle-right" preserveAspectRatio="xMidYMid meet">
                <use xlink:href="/vendor/symbols/svg-symbols.svg#symbol-angle-right"></use>
              </svg>
    	      </div>
    	       Approvers
    				 <div id="signofftick" class="submitted-tick">
    					<img height="20px" border-radius="50%" src="/image/download.png">
    				</div>
          </a>
    		</li>

		<li>
			<div id="drop-trigger">
	      <div class="nav-icon">
		      <svg role="img" aria-hidden="true" class="symbol symbol-angle-right" preserveAspectRatio="xMidYMid meet">
            <use xlink:href="/vendor/symbols/svg-symbols.svg#symbol-angle-right"></use>
          </svg>
	      </div>
	       Requests
      </div>
		</li>

		<div id="drop-menu">
			<li>
				<a href="#" aria-controls="copy-change">
					 <div class="nav-icon">
						<svg role="img" aria-hidden="true" class="symbol symbol-angle-right" preserveAspectRatio="xMidYMid meet">
								<use xlink:href="/vendor/symbols/svg-symbols.svg#symbol-angle-right"></use>
							</svg>
					 </div>
						Content Update
					 <div id="copychangetick" class="submitted-tick">
						<img height="20px" border-radius="50%" src="/image/download.png">
					</div>
					<div class="content-hide-show content-text-hide-show">
							any amendments to, updates of, or additional copy for our website(s) - this can include any copy in titles, body text, FAQs, links, navigation, footers, etc.
					</div>
					</a>
			</li>

			<li>
					<a href="#" aria-controls="pdf-update">
						<div class="nav-icon">
							<svg role="img" aria-hidden="true" class="symbol symbol-angle-right" preserveAspectRatio="xMidYMid meet">
								<use xlink:href="/vendor/symbols/svg-symbols.svg#symbol-angle-right"></use>
							</svg>
						</div>
					PDF Update
					<div id="pdfupdatetick" class="submitted-tick">
						<img height="20px" border-radius="50%" src="/image/download.png">
					</div>
					<div class="content-hide-show content-text-hide-show">
							updates to an existing PDF or adding a new PDF, regardless of whether you have the new PDF ready.
					</div>
					</a>
			</li>

			<li>
					<a href="#" aria-controls="rates-change">
						<div class="nav-icon">
					<svg role="img" aria-hidden="true" class="symbol symbol-angle-right" preserveAspectRatio="xMidYMid meet">
							<use xlink:href="/vendor/symbols/svg-symbols.svg#symbol-angle-right"></use>
						</svg>
				</div>
				Rates Change
				<div id="rateschangetick" class="submitted-tick">
						<img height="20px" border-radius="50%" src="/image/download.png">
					</div>
				</a>
				<div class="content-hide-show content-text-hide-show">
						rate updates across all our domains, or a warning of an upcoming rates change.
					</div>
			</li>

			<li>
					<a href="#" aria-controls="marketing-banner">
						<div class="nav-icon">
					<svg role="img" aria-hidden="true" class="symbol symbol-angle-right" preserveAspectRatio="xMidYMid meet">
							<use xlink:href="/vendor/symbols/svg-symbols.svg#symbol-angle-right"></use>
						</svg>
				</div>
				Marketing Banner
				<div id="marketingbannertick" class="submitted-tick">
						<img height="20px" border-radius="50%" src="/image/download.png">
					</div>
				</a>
				<div class="content-hide-show content-text-hide-show">
						adding a marketing banner to either our Bank or smile domains.
					</div>
			</li>

			<li>
					<a href="#" aria-controls="new-page">
						<div class="nav-icon">
					<svg role="img" aria-hidden="true" class="symbol symbol-angle-right" preserveAspectRatio="xMidYMid meet">
							<use xlink:href="/vendor/symbols/svg-symbols.svg#symbol-angle-right"></use>
						</svg>
				</div>
				New Page
				<div id="newpagetick" class="submitted-tick">
						<img height="20px" border-radius="50%" src="/image/download.png">
					</div>
				</a>
				<div class="content-hide-show content-text-hide-show">
						creating a new public page for any of our websites.
					</div>
			</li>

			<li>
					<a href="#" aria-controls="smeg">
						<div class="nav-icon">
					<svg role="img" aria-hidden="true" class="symbol symbol-angle-right" preserveAspectRatio="xMidYMid meet">
							<use xlink:href="/vendor/symbols/svg-symbols.svg#symbol-angle-right"></use>
						</svg>
				</div>
				SMEG Update
				<div id="smegupdatetick" class="submitted-tick">
						<img height="20px" border-radius="50%" src="/image/download.png">
					</div>
					</a>
				</a>
				<div class="content-hide-show content-text-hide-show">
						an update to an automatic or manual SMEG.
					</div>
			</li>

			<li>
					<a href="#" aria-controls="site-scrape">
						<div class="nav-icon">
					<svg role="img" aria-hidden="true" class="symbol symbol-angle-right" preserveAspectRatio="xMidYMid meet">
							<use xlink:href="/vendor/symbols/svg-symbols.svg#symbol-angle-right"></use>
						</svg>
				</div>
				Site Scrape
				<div id="sitescrapetick" class="submitted-tick">
						<img height="20px" border-radius="50%" src="/image/download.png">
					</div>
				</a>
				<div class="content-hide-show content-text-hide-show">
						a search for particular key terms.
					</div>
			</li>

			<li>
					<a href="#" aria-controls="page-deletion">
						<div class="nav-icon">
					<svg role="img" aria-hidden="true" class="symbol symbol-angle-right" preserveAspectRatio="xMidYMid meet">
							<use xlink:href="/vendor/symbols/svg-symbols.svg#symbol-angle-right"></use>
						</svg>
				</div>
				Page Deletion
				<div id="pagedeletiontick" class="submitted-tick">
						<img height="20px" border-radius="50%" src="/image/download.png">
					</div>
				</a>
				<div class="content-hide-show content-text-hide-show">
						page deletion or deletion of a FAQ, SMEG, or PDF on any of our websites.
					</div>
			</li>

			<li>
					<a href="#" aria-controls="other-request">
						<div class="nav-icon">
					<svg role="img" aria-hidden="true" class="symbol symbol-angle-right" preserveAspectRatio="xMidYMid meet">
							<use xlink:href="/vendor/symbols/svg-symbols.svg#symbol-angle-right"></use>
						</svg>
				</div>
				Other Request
				<div id="otherrequesttick" class="submitted-tick">
						<img height="20px" border-radius="50%" src="/image/download.png">
					</div>
				</a>
				<div class="content-hide-show content-text-hide-show">
						for requests that fall outside of our most common changes listed above.
					</div>
			</li>

			<li>
					<a href="#" aria-controls="resolution-request">
						<div class="nav-icon">
					<svg role="img" aria-hidden="true" class="symbol symbol-angle-right" preserveAspectRatio="xMidYMid meet">
							<use xlink:href="/vendor/symbols/svg-symbols.svg#symbol-angle-right"></use>
						</svg>
				</div>
				Resolution Request
				<div id="resolutionrequesttick" class="submitted-tick">
						<img height="20px" border-radius="50%" src="/image/download.png">
					</div>
					</a>
			</li>
		</div>

		<li>
      <a href="#" aria-controls="submit">
        <div class="nav-icon">
				<svg role="img" aria-hidden="true" class="symbol symbol-angle-right" preserveAspectRatio="xMidYMid meet">
          <use xlink:href="/vendor/symbols/svg-symbols.svg#symbol-angle-right"></use>
        </svg>
			</div>
			Submit
    </a>
		</li>
	</ul>
  </nav>
