{{> header}}

<div class="container">
	<div class="row">
    <div class="col-xs-12">
  		<h2>About Digital Change</h2>
    		<p>
    			Once a digital change is submitted, it’ll be discussed at a weekly Triage meeting. This weekly meeting, held every Tuesday, gives the Digital Planning team opportunity to delegate the change request to the appropriate team.
    		</p>
    		<p>
    			Depending on the change required, your request may be delegated to a number of teams that sit within Digital. Once the respective team has established the size and scope of the request, Digital will assign a level of priority to the request.
    		</p>
    		<p>
    			Work will begin on a change request as soon as the priority level and resource availability align. To ensure a comprehensive conclusion to your request, a single (and seemingly simple) change may require involvement from multiple teams.
    		</p>
    		<p>
    			There may be a cost associated with your request if it involves a considerable change, e.g. new site functionality.
    		</p>
        <p>
          The Digital Delivery Team and the Digital Quality Assurance team are dually responsible for implementing changes to the majority of our public and secure site pages. Every completed change request will adhere to the Equality Act 2010 and meet the relevant criteria outlined in the Web Content Accessibility Guidelines 2.0 and additional FCA recommendations. This ensures our website(s) and digital materials consider the needs of those with disabilities or impairments.
        </p>

        <a class="btn btn--secondary btn--has-icon" href="search-form.html" >
              Next
          <span class="btn__icon">
            <svg role="img" aria-hidden="true" class="symbol symbol-angle-right" preserveAspectRatio="xMidYMid meet">
              <use xlink:href="/vendor/symbols/svg-symbols.svg#symbol-angle-right"></use>
            </svg>
          </span>
        </a>

	  </div>
  </div>
</div>

{{> footer}}
