{{> header}}

<form>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<header>
					<h2>Form components</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
						dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p class="negative">Any missing information from this application may cause a delay in processing.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
						dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</header>

				<p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
					dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<button class="btn--add">
              Add address
            </button>

				<button class="btn--remove">
              Remove address
            </button>

				<div class="row">
					<div class="col-sm-10 col-md-9 col-xl-12">

						<div class="form-item">
							<label for="price" class="form-item__label">Price</label>
							<div class="form-item__control form-item__control-prefix">
								<span>£</span>
								<input type="number" name="price" id="price" min="0" placeholder="Price" class="form-item__control" required>
							</div>
						</div>

						<div class="form-item">
							<label for="price" class="form-item__label">Percentage</label>
							<div class="form-item__label--sub">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
									irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							</div>
							<div class="form-item__control form-item__control-postfix">
								<input type="number" name="price" id="price" min="0" placeholder="Percentage" class="form-item__control" required>
								<span>%</span>
							</div>
						</div>

						<div class="form-item">
							<label for="firstName1" class="form-item__label">First name</label>
							<input type="text" name="firstName1" id="firstName1" placeholder="First name..." class="form-item__control" required>
						</div>

						<div class="form-item">
							<label for="accountNumber1" class="form-item__label">Account number(s)</label>
							<input type="text" name="accountNumber1" id="accountNumber1" class="form-item__control" placeholder="123 123 123" required>

							<label for="accountNumber2" class="sr-only">Account number 2</label>
							<input type="text" name="accountNumber2" id="accountNumber2" class="form-item__control" placeholder="123 123 123" required>
						</div>

						<div class="form-item form-item--has-action">
							<label for="postcode" class="form-item__label">Postcode</label>
							<input type="text" name="postcode" id="postcode" placeholder="Postcode" class="form-item__control" required>
							<button class="btn--secondary btn--has-icon">
                    Find address
                    <span class="btn__icon">
                      <span class="icon-angle-right"></span>
                    </span>
                  </button>
						</div>

						<div class="form-item">
							<label for="nationality" class="form-item__label">Country of origin</label>
							<div class="form-item__select-container">
								<select class="form-item__control" name="nationality" id="nationality">
                      <option>United Kingdom</option>
                      <option>United States</option>
                      <option>Albania</option>
                    </select>
								<span class="form-item__select-arrow"></span>
							</div>
						</div>

						<div class="form-item form-item--has-errors">
							<label for="residence" class="form-item__label">Country of residence</label>
							<div class="form-item__select-container">
								<select class="form-item__control" name="residence" id="residence">
                      <option>United Kingdom</option>
                      <option>United States</option>
                      <option>Albania</option>
                    </select>
								<span class="form-item__select-arrow"></span>
							</div>
						</div>

						<div class="form-item form-item--has-errors">
							<label for="firstName2" class="form-item__label">First name</label>
							<input type="text" id="firstName2" name="firstName2" placeholder="First name..." class="form-item__control">
							<p class="form-item__error">An error occurred. I can't spell.</p>
						</div>

						<div class="form-item">
							<label for="firstName3" class="form-item__label">First name</label>
							<input disabled id="firstName3" name="firstName3" type="text" placeholder="First name..." class="form-item__control" required>
						</div>

						<fieldset class="form-item form-item--grouped">
							<legend><span>Gender</span></legend>
							<div class="form-radio">
								<input type="radio" name="gender" id="gender-male" value="male">
								<label class="form-radio__label" for="gender-male">Male</label>
							</div>
							<div class="form-radio">
								<input type="radio" name="gender" id="gender-female" value="female">
								<label for="gender-female" class="form-radio__label">Female</label>
							</div>
						</fieldset>

						<fieldset class="form-item form-item--inline form-item--grouped">
							<legend><span>What's your favourite colour?</span></legend>
							<div class="form-radio">
								<input type="radio" name="colour" id="colour-green" value="green">
								<label class="form-radio__label" for="colour-green">Green</label>
							</div>
							<div class="form-radio">
								<input type="radio" name="colour" id="colour-red" value="red">
								<label for="colour-red" class="form-radio__label">Red</label>
							</div>
							<div class="form-radio">
								<input type="radio" name="colour" id="colour-yellow" value="yellow">
								<label for="colour-yellow" class="form-radio__label">Yellow</label>
							</div>
							<div class="form-radio">
								<input type="radio" name="colour" id="colour-blue" value="blue">
								<label for="colour-blue" class="form-radio__label">Blue</label>
							</div>
							<div class="form-radio">
								<input type="radio" name="colour" id="colour-brown" value="brown">
								<label for="colour-brown" class="form-radio__label">Brown</label>
							</div>
						</fieldset>

						<fieldset class="form-item form-item--boolean">
							<legend>
								<span>Do you want to set up a regular direct debit payment to this account?</span>
							</legend>
							<p class="form-item__label--extra">&pound;500 is the minimum you'll need to deposit. &pound;1,000,000 is the maximum balance for this account. &pound;500 is the minimum you'll need to deposit. &pound;1,000,000 is the maximum balance for this account.</p>
							<div class="form-radio">
								<input type="radio" name="setUp" id="setUp-yes" value="yes">
								<label class="form-radio__label" for="setUp-yes">Yes</label>
							</div>
							<!--
                  -->
							<div class="form-radio">
								<input type="radio" name="setUp" id="setUp-no" value="no">
								<label for="setUp-no" class="form-radio__label">No</label>
							</div>
						</fieldset>

						<fieldset class="form-item form-item--boolean js-boolean-has-message">
							<legend>
								<span>Do you want to be contacted by telephone? (Verbose example)</span>
							</legend>
							<div class="form-radio">
								<input type="radio" name="marketingPhone" id="phone-yes" value="yes">
								<label class="form-radio__label" for="phone-yes">Yes</label>
							</div>
							<!--
                  -->
							<div class="form-radio">
								<input type="radio" name="marketingPhone" id="phone-no" value="no">
								<label for="phone-no" class="form-radio__label">No</label>
							</div>
							<p style="display: none;" class="form-item__verbose-confirmation js-boolean-has-message-yes"><strong>Call me</strong> with marketing information about your latest product offers</p>
							<p style="display: none;" class="form-item__verbose-confirmation js-boolean-has-message-no"><strong>Don't call me</strong> with marketing information about your latest product offers</p>
						</fieldset>

						<fieldset class="form-item form-item--boolean js-boolean-has-message">
							<legend>
								<span>Do you want to be contacted by email? (Verbose example)</span>
							</legend>
							<div class="form-radio">
								<input type="radio" name="marketingEmail" id="email-yes" value="yes">
								<label class="form-radio__label" for="email-yes">Yes</label>
							</div>
							<!--
                  -->
							<div class="form-radio">
								<input type="radio" name="marketingEmail" id="email-no" value="no">
								<label for="email-no" class="form-radio__label">No</label>
							</div>
							<p style="display: none;" class="form-item__verbose-confirmation js-boolean-has-message-yes"><strong>Email me</strong> with marketing information about your latest product offers</p>
							<p style="display: none;" class="form-item__verbose-confirmation js-boolean-has-message-no"><strong>Don't email me</strong> with marketing information about your latest product offers</p>
						</fieldset>

						<fieldset class="form-item form-item--boolean js-boolean-has-message">
							<legend>
								<span>Do you want to be contacted by email? (Verbose example)</span>
							</legend>
							<div class="form-radio">
								<input checked type="radio" name="marketingEmail2" id="email2-yes" value="yes">
								<label class="form-radio__label" for="email2-yes">Yes</label>
							</div>
							<!--
                  -->
							<div class="form-radio">
								<input type="radio" name="marketingEmail2" id="email2-no" value="no">
								<label for="email2-no" class="form-radio__label">No</label>
							</div>
							<p style="display: none;" class="form-item__verbose-confirmation js-boolean-has-message-yes"><strong>Email me</strong> with marketing information about your latest product offers</p>
							<p style="display: none;" class="form-item__verbose-confirmation js-boolean-has-message-no"><strong>Don't email me</strong> with marketing information about your latest product offers</p>
						</fieldset>

						<script>
							(function() {
								var formItems = document.querySelectorAll('.js-boolean-has-message');

								var setMessageState = function(messages, isYes) {
									messages.yes.style.display = isYes ? 'inline-block' : 'none';
									messages.no.style.display = isYes ? 'none' : 'inline-block';
								}

								var initMessages = function(element) {
									var radios = element.querySelectorAll('input[type="radio"]');

									var messages = {
										yes: element.querySelector('.js-boolean-has-message-yes'),
										no: element.querySelector('.js-boolean-has-message-no')
									};

									for (var i = 0; radios.length > i; i++) {
										if (radios[i].checked) {
											setMessageState(messages, radios[i].value === "yes");
										}
									}

									element.querySelector('[value="yes"]').addEventListener('click', function() {
										setMessageState(messages, true);
									});

									element.querySelector('[value="no"]').addEventListener('click', function() {
										setMessageState(messages);
									});
								};

								for (var i = 0; formItems.length > i; i++) {
									initMessages(formItems[i]);
								}
							})();
						</script>

						<fieldset class="form-item form-item--grouped form-item--has-errors">
							<legend><span>Where would you like your interest to be paid?</span></legend>
							<div class="form-radio">
								<input type="radio" name="interestToBePaid" id="this-account" value="this-account">
								<label class="form-radio__label" for="this-account">This account</label>
							</div>
							<div class="form-radio">
								<input type="radio" name="interestToBePaid" id="coopAccount" value="coopAccount">
								<label class="form-radio__label" for="coopAccount">A Co-operative Bank account</label>
							</div>
							<div class="form-radio">
								<input type="radio" name="interestToBePaid" id="anotherBritannia" value="anotherBritannia">
								<label class="form-radio__label" for="anotherBritannia">Another Britannia savings account</label>
							</div>
							<div class="form-radio">
								<input type="radio" name="interestToBePaid" id="otherAccount" value="otherAccount">
								<label class="form-radio__label" for="otherAccount">A bank account that isn't a Britannia or Co-operative Bank account</label>
							</div>
							<p class="form-item__error">An error occurred. I can't spell.</p>
						</fieldset>

						<fieldset class="form-item form-item--grouped">
							<legend><span>Preferred method of contact</span></legend>
							<div class="form-checkbox">
								<input type="checkbox" name="methodOfContact" id="phone" value="phone">
								<label class="form-checkbox__label" for="phone">Phone</label>
							</div>
							<div class="form-checkbox">
								<input type="checkbox" name="methodOfContact" id="text" value="text">
								<label class="form-checkbox__label" for="text">Text message</label>
							</div>
							<div class="form-checkbox">
								<input type="checkbox" name="methodOfContact" id="email" value="email">
								<label class="form-checkbox__label" for="email">Email</label>
							</div>
							<div class="form-checkbox">
								<input type="checkbox" name="methodOfContact" id="post" value="post">
								<label class="form-checkbox__label" for="post">Post</label>
							</div>
						</fieldset>

						<div class="form-item form-item--has-errors">
							<div class="form-checkbox">
								<input type="checkbox" name="consent" id="consent" value="consent">
								<label class="form-checkbox__label" for="consent">Do you have consent from the other applicant to provide information and apply on their behalf?</label>
							</div>
							<p class="form-item__error">You must confirm you have the other applicant's permission to continue.</p>
						</div>

						<fieldset class="form-item form-item--grouped form-item--has-errors">
							<div class="form-checkbox">
								<input type="checkbox" name="consent2" id="consent2" value="consent">
								<label class="form-checkbox__label" for="consent2">Do you have consent from the other applicant to provide information and apply on their behalf?</label>
							</div>
							<p class="form-item__error">You must confirm you have the other applicant's permission to continue.</p>
						</fieldset>

						<div class="form-item">
							<label for="ta" class="form-item__label">Please describe your business and all the kinds of work you do (or goods you sell) in as much detail as possible.</label>
							<p class="form-item__label-extra">Your application will be delayed if you do not provide enough detail</p>
							<div class="row">
								<div class="col-md-6">
									<textarea name="ta" rows="8" cols="80" id="ta" class="form-item__control"></textarea>
								</div>
								<div class="col-md-6">
									<p class="form-item__example">E.g. "I run an industrial cleaning business with several large clients. We mostly clean large buildings and skyscrappers, but do provide cleaning services for some smaller clients (such as officers or large homes)."
								</div>
							</div>
						</div>

						<fieldset class="form-item form-item--boolean">
							<legend><span>Are you a UK tax resident?</span></legend>
							<div class="form-radio">
								<input type="radio" name="ukResident" id="ukResident-yes" value="yes">
								<label class="form-radio__label" for="ukResident-yes">Yes</label>
							</div>
							<!--
                  -->
							<div class="form-radio">
								<input type="radio" name="ukResident" id="ukResident-no" value="no">
								<label for="ukResident-no" class="form-radio__label">No</label>
							</div>
						</fieldset>

						<fieldset class="form-item form-item--boolean form-item--has-errors">
							<legend><span>Have you been known by any other names during the last <span class="text-bold">6 years</span>?</span>
							</legend>
							<div class="form-radio">
								<input type="radio" name="otherNames" id="otherNames-yes" value="yes">
								<label class="form-radio__label" for="otherNames-yes">Yes</label>
							</div>
							<!--
                  -->
							<div class="form-radio">
								<input type="radio" name="otherNames" id="otherNames-no" value="no">
								<label for="otherNames-no" class="form-radio__label">No</label>
							</div>
							<p class="form-item__error">Please select yes or no</p>
						</fieldset>

						<fieldset class="form-item form-item--sort-code">
							<legend><span>Sort code</span></legend>
							<div>
								<label for="sortcode1" class="sr-only">Sort code - First and second digit</label>
								<input type="text" class="form-item__control" name="sortcode1" id="sortcode1" size="2"> &ndash;
								<label for="sortcode2" class="sr-only">Sort code - Third and forth digit</label>
								<input type="text" class="form-item__control" name="sortcode2" id="sortcode2" size="2"> &ndash;
								<label for="sortcode3" class="sr-only">Sort code - Fifth and sixth digit</label>
								<input type="text" class="form-item__control" name="sortcode3" id="sortcode3" size="2">
							</div>
						</fieldset>

						<fieldset class="form-item form-item--sort-code form-item--has-errors">
							<legend><span>Sort code</span></legend>
							<div>
								<label for="sortcode1" class="sr-only">Sort code - First and second digit</label>
								<input type="text" class="form-item__control" name="sortcode1" id="sortcode1" size="2"> &ndash;
								<label for="sortcode2" class="sr-only">Sort code - Third and forth digit</label>
								<input type="text" class="form-item__control" name="sortcode2" id="sortcode2" size="2"> &ndash;
								<label for="sortcode3" class="sr-only">Sort code - Fifth and sixth digit</label>
								<input type="text" class="form-item__control" name="sortcode3" id="sortcode3" size="2">
							</div>
							<div role="alert">
								<p class="form-item__error">You must enter a valid sort code</p>
							</div>
						</fieldset>

						<fieldset class="form-item form-item--date">
							<legend><span>Date w/o day</span></legend>
							<div class="form-item__control">
								<label for="dob-month" class="sr-only">Month (MM)</label>
								<input type="text" class="form-item__control" name="dob-month" id="dob-month" size="4" placeholder="MM">
								<span>/</span>
								<label for="dob-year" class="sr-only">Year (YYYY)</label>
								<input type="text" class="form-item__control" name="dob-year" id="dob-year" size="4" placeholder="YYYY">
							</div>
						</fieldset>

						<fieldset class="form-item form-item--date">
							<legend><span>Date</span></legend>
							<div class="form-item__control">
								<label for="date-without-day" class="sr-only">Day (DD)</label>
								<input type="text" class="form-item__control" name="date-without-day" id="date-without-day" size="4" placeholder="DD">
								<span>/</span>
								<label for="date-without-month" class="sr-only">Month (MM)</label>
								<input type="text" class="form-item__control" name="date-without-month" id="date-without-month" size="4" placeholder="MM">
								<span>/</span>
								<label for="date-without-year" class="sr-only">Year (YYYY)</label>
								<input type="text" class="form-item__control" name="date-without-year" id="date-without-year" size="4" placeholder="YYYY">
							</div>
						</fieldset>
					</div>
				</div>

				<div class="rule"></div>
				<h2>Buttons</h2>

				<button class="btn btn--primary btn--has-icon">
              Primary
              <span class="btn__icon">
                <span class="icon-angle-right"></span>
              </span>
            </button>

				<button class="btn btn--primary btn--has-icon">
              Primary
              <span class="btn__icon">
                <svg role="img" aria-hidden="true" class="symbol symbol-angle-right" preserveAspectRatio="xMidYMid meet">
                  <use xlink:href="/vendor/symbols/svg-symbols.svg#symbol-angle-right"></use>
                </svg>
              </span>
            </button>

				<button class="btn btn--secondary btn--has-icon">
              Secondary
              <span class="btn__icon">
                <span class="icon-angle-right"></span>
              </span>
            </button>

				<a href="#" class="btn btn--primary btn--has-icon">
              Primary
              <span class="btn__icon">
                <span class="icon-angle-right"></span>
              </span>
            </a>

				<a href="#" class="btn btn--secondary btn--has-icon">
              Secondary
              <span class="btn__icon">
                <span class="icon-angle-right"></span>
              </span>
            </a>

				<div class="rule"></div>

				<h2>Panel</h2>

				<div class="panel">
					<div class="panel__primary">
						<h2 class="panel__title">Eligibility Criteria</h2>
						<ul>
							<li>You must be / You must both be 16 or over</li>
							<li>A UK resident (for tax purposes)</li>
							<li>Have &pound;500 or more for an initial deposit</li>
							<li>
								<p>You can only have one Select Access Saver 7 account at any other time</p>
								<p class="negative">If you close your account, then you can't open another within the same calendar year. If you have a Select Access Saver account, between issues 1-6, you can also open this Select Access Saver 7 account whilst it's available</p>
							</li>
						</ul>
					</div>
					<div class="panel__secondary">
						<p>Approval is based on an assessment of your personal circumstances.</p>
						<button class="btn btn--primary btn--has-icon">
                  Start Application
                  <span class="btn__icon">
                    <span class="icon-angle-right"></span>
                  </span>
                </button>
					</div>
				</div>

				<div class="panel">
					<div class="panel__primary">
						<fieldset class="form-item form-item--grouped">
							<div class="form-checkbox">
								<input type="checkbox" name="inSummary" id="inSummary" value="inSummary">
								<label class="form-checkbox__label" for="inSummary">
                      I/we agree:<br>
                      a) that the information I have given is full and correct and I authorise you to
                      make enquiries to confirm this information and to update my account records
                      where appropriate;<br>
                      b) that you may decide to decline my application;.<br>
                      c) to the terms and conditions of this account. I am aware that I can obtain an additional copy of the terms and conditions from any of your branches;<br>
                      d) if the balance falls below the minimum specified for the account, you
                      reserve the right to pay any interest rate, including zero and<br>
                      e) I have received the 'Using your personal information' document and I agree to you processing my personal data as detailed. I confirm that I am entitled to disclose information about my co-applicant, guarantor and anyone else to whom I refer and I have informed those individuals how their information will be used.
                    </label>
							</div>
						</fieldset>
					</div>
				</div>

				<div class="rule"></div>

				<h2>Panel (Validation)</h2>

				<div class="panel panel--validation" role="alert" aria-live="assertive">
					<div class="panel__primary">
						<h2 class="panel__title">Error(s)</h2>
						<ul>
							<li>Title - Please select your preferred title.</li>
							<li>Forename - Please enter your forename.</li>
							<li>Surname - Please enter your surname.</li>
							<li>Date of birth - Please select a mnonth e.g. January</li>
							<li>Gender - Please select your gender.</li>
						</ul>
					</div>
				</div>

				<div class="rule"></div>

				<h2>Summary</h2>

				<div class="summary">
					<a href="#" class="summary__edit">Edit</a>
					<h3 class="summary__title">Where you live</h3>
					<dl>
						<dt>Address</dt>
						<dd>M20 6TH</dd>
						<dd>4 Piccadilly Street</dd>
						<dd>Manchester</dd>
						<dd>UK</dd>
					</dl>

					<dl>
						<dt>Email address</dt>
						<dd>email@domain.com</dd>
					</dl>

					<dl>
						<dt>Contact telephone number</dt>
						<dd>+(44) 161 123 4567</dd>
					</dl>
				</div>

				<div class="summary">
					<a href="#" class="summary__edit">Edit</a>
					<h3 class="summary__title">Your personal tax details</h3>
					<dl>
						<dt>Nationality</dt>
						<dd>British</dd>
					</dl>

					<dl>
						<dt>Are you a UK tax resident</dt>
						<dd>Yes</dd>
					</dl>

					<dl>
						<dt>Are you a United States citizen?</dt>
						<dd>No</dd>
					</dl>

					<dl>
						<dt>Are you a tax resident in any other country?</dt>
						<dd>No</dd>
					</dl>

					<dl>
						<dt>Tax residency</dt>
						<dd>No</dd>
					</dl>
				</div>

				<div class="rule"></div>

				<h2>Address Selection</h2>

				<fieldset class="address-selection">
					<legend class="sr-only">Please select the address.</legend>
					<div class="address-selection__inner">
						<p class="address-selection__title">Please select the address.</p>
						<ol class="address-selection__addresses">
							<li><a class="address-selection__address" href="#">1 Street Name, Town</a></li>
							<li><a class="address-selection__address" href="#">2 Street Name, Town</a></li>
							<li><a class="address-selection__address" href="#">3 Street Name, Town</a></li>
							<li><a class="address-selection__address" href="#">4 Street Name, Town</a></li>
							<li><a class="address-selection__address" href="#">5 Street Name, Town</a></li>
							<li><a class="address-selection__address" href="#">6 Street Name, Town</a></li>
							<li><a class="address-selection__address" href="#">7 Street Name, Town</a></li>
							<li><a class="address-selection__address" href="#">8 Street Name, Town</a></li>
							<li><a class="address-selection__address" href="#">9 Street Name, Town</a></li>
							<li><a class="address-selection__address" href="#">10 Street Name, Town</a></li>
							<li><a class="address-selection__address" href="#">11 Street Name, Town</a></li>
							<li><a class="address-selection__address" href="#">12 Street Name, Town</a></li>
						</ol>
					</div>
					<!-- Note: You can use any of <a>, <button>, <input type="button">, or <input type="submit"> -->
					<p class="address-selection__no-match">Don't see your address? <button>Enter it manually</button></p>
				</fieldset>

				<div class="selected-address">
					1 Street Name<br> Manchester
					<br> M11 1MM
				</div>

				<div class="rule"></div>

				<h2>PDF Download</h2>

				<div class="row">
					<div class="col-md-4">
						<div class="pdf-download">
							<img src="/vendor/img/pdf-icon.svg" alt=" " aria-hidden="true" class="pdf-download__image">
							<div>
								<div class="pdf-download__title">Account charges</div>
								<a class="pdf-download__link" href="#">
                      Download PDF
                      <span class="pdf-download__size">(56kb)</span>
                    </a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="pdf-download">
							<img src="/vendor/img/pdf-icon.png" alt=" " aria-hidden="true" class="pdf-download__image">
							<div>
								<div class="pdf-download__title">Account charges</div>
								<a class="pdf-download__link" href="#">
                      Download PDF
                      <span class="pdf-download__size">(56kb)</span>
                    </a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="pdf-download">
							<img src="/vendor/img/pdf-icon.svg" alt=" " aria-hidden="true" class="pdf-download__image">
							<div>
								<div class="pdf-download__title">Account charges</div>
								<a class="pdf-download__link" href="#">
                      Download <span class="sr-only">Account charges</span> PDF
                      <span class="pdf-download__size">(56kb)</span>
                    </a>
							</div>
						</div>
					</div>
				</div>

				<div class="rule"></div>

				<h2>Grid System</h2>

				<p>Follows <a href="https://getbootstrap.com/docs/3.3/css/#grid">Bootstrap 3</a> class convention</p>

				<p><code>.container</code> - provides the maximum width based on viewport</p>
				<p><code>.row</code> - required to be nested directly under .container</p>
				<p><code>.col-{breakpoint}-{column count}</code> - The meat of it.</p>
				<ul>
					<li><code>breakpoint</code> - one of either xs, sm, md, or lg depending on the viewport you want to target</li>
					<li><code>column count</code> - by default there are 12 grids</li>
				</ul>
				<p>Example:</p>
				<code><pre style="overflow: scroll;">
  &lt;div class="container"&gt;
    &lt;div class="row"&gt;
      &lt;div class="col-xs-12 col-sm-6 col-md-8"&gt;&lt;/div&gt;
      &lt;div class="col-xs-12 col-sm-6 col-md-4"&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
            </pre></code>
				<p>This will create a grid where each column takes full width in XS viewports, will be 50/50 in SM viewports and then 8/4 in MD and above viewports</p>

				<button type="submit" class="btn btn--primary">Submit</button>
			</div>
		</div>
	</div>
</form>
</main>
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="footer__section">
					<ul class="list-links">
						<li><a href="https://www.co-operativebank.co.uk/global/privacy-and-cookies">Privacy and Cookie policy</a></li>
						<li><a href="https://www.co-operativebank.co.uk/global/accessibility">Accessibility</a></li>
						<li><a href="https://www.co-operativebank.co.uk/sitemap">Sitemap</a></li>
						<li><a href="https://www.co-operativebank.co.uk/news">Press</a></li>
						<li><a href="https://www.co-operative.coop/membership">The Co-operative Membership</a></li>
						<li><a href="https://www.co-operativebankjobs.co.uk/">Careers</a></li>
						<li><a href="https://www.co-operativebank.co.uk/aboutus/ourbusiness/Human-Trafficking-Statement">Our Modern Slavery and Human Trafficking Statement</a></li>
					</ul>
				</div>

				<div class="footer__section">
					<ul class="list-social">
						<li>
							<a href="https://www.facebook.com/thecooperativebank" target="_blank">
                    <svg role="img" aria-hidden="true" class="symbol symbol-facebook" preserveAspectRatio="xMidYMid meet">
                      <use xlink:href="/vendor/symbols/svg-symbols.svg#symbol-facebook"></use>
                      Facebook
                    </svg>
                  </a>
						</li>
						<li>
							<a href="https://twitter.com/coopbankuk" target="_blank">
                    <svg role="img" aria-hidden="true" class="symbol symbol-twitter" preserveAspectRatio="xMidYMid meet">
                      <use xlink:href="/vendor/symbols/svg-symbols.svg#symbol-twitter"></use>
                      Twitter
                    </svg>
                  </a>
						</li>
						<li>
							<a href="https://www.youtube.com/user/CooperativeBankUK" target="_blank">
                    <svg role="img" aria-hidden="true" class="symbol symbol-youtube" preserveAspectRatio="xMidYMid meet">
                      <use xlink:href="/vendor/symbols/svg-symbols.svg#symbol-youtube"></use>
                      YouTube
                    </svg>
                  </a>
						</li>
					</ul>
				</div>

				<div class="footer__section">
					<p class="epsilon">The Co-operative Bank is covered by the FSCS.</p>
					<p class="epsilon">The Co-operative Bank, Platform, smile and Britannia are trading names of The Co-operative Bank p.l.c., P.O. Box 101, 1 Balloon Street, Manchester M60 4EP. Registered in England and Wales No. 990937.</p>
					<p class="zeta">The Co‑operative Bank p.l.c. is authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority (No. 121885). The Co‑operative Bank, Platform, smile and Britannia are trading
						names of The Co‑operative Bank p.l.c., P.O. Box 101, 1 Balloon Street, Manchester M60 4EP. Registered in England and Wales No.990937. Credit facilities are provided by The Co‑operative Bank p.l.c. and are subject to status and our lending policy.
						The Bank reserves the right to decline any application for an account or credit facility. The Co‑operative Bank p.l.c. subscribes to the Standards of Lending Practice which are monitored by the Lending Standards Board.</p>
					<img class="footer__logo" src="/vendor/img/logo-white.svg" alt="The Co-operative Bank" height="28" width="247">
				</div>

				<div class="footer__section">
					<ul class="list-sectors">
						<li><a href="https://www.co-operativebank.co.uk/">Personal</a></li>
						<!--
                -->
						<li><a href="https://www.co-operativebank.co.uk/business">Business</a></li>
						<!--
                -->
						<li><a href="https://www.co-operativebank.co.uk/corporate">Commercial</a></li>
						<!--
                -->
						<li><a href="https://www.co-operativebank.co.uk/offshorebanking">Offshore</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<h3 style="margin-top: 24px; margin-left: 15px;">Footer using fallback PNG</h3>

<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="footer__section">
					<ul class="list-links">
						<li><a href="https://www.co-operativebank.co.uk/global/privacy-and-cookies">Privacy and Cookie policy</a></li>
						<li><a href="https://www.co-operativebank.co.uk/global/accessibility">Accessibility</a></li>
						<li><a href="https://www.co-operativebank.co.uk/sitemap">Sitemap</a></li>
						<li><a href="https://www.co-operativebank.co.uk/news">Press</a></li>
						<li><a href="https://www.co-operative.coop/membership">The Co-operative Membership</a></li>
						<li><a href="https://www.co-operativebankjobs.co.uk/">Careers</a></li>
						<li><a href="https://www.co-operativebank.co.uk/aboutus/ourbusiness/Human-Trafficking-Statement">Our Modern Slavery and Human Trafficking Statement</a></li>
					</ul>
				</div>

				<div class="footer__section">
					<ul class="list-social">
						<li>
							<a href="https://www.facebook.com/thecooperativebank" target="_blank">
                    <img src="/vendor/img/social/icon--facebook.png" alt="Facebook">
                  </a>
						</li>
						<li>
							<a href="https://twitter.com/coopbankuk" target="_blank">
                    <img src="/vendor/img/social/icon--twitter.png" alt="Twitter">
                  </a>
						</li>
						<li>
							<a href="https://www.youtube.com/user/CooperativeBankUK" target="_blank">
                    <img src="/vendor/img/social/icon--you-tube.png" alt="YouTube">
                  </a>
						</li>
					</ul>
				</div>

				<div class="footer__section">
					<p class="epsilon">The Co-operative Bank is covered by the FSCS.</p>
					<p class="epsilon">The Co-operative Bank, Platform, smile and Britannia are trading names of The Co-operative Bank p.l.c., P.O. Box 101, 1 Balloon Street, Manchester M60 4EP. Registered in England and Wales No. 990937.</p>
					<p class="zeta">The Co‑operative Bank p.l.c. is authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority (No. 121885). The Co‑operative Bank, Platform, smile and Britannia are trading
						names of The Co‑operative Bank p.l.c., P.O. Box 101, 1 Balloon Street, Manchester M60 4EP. Registered in England and Wales No.990937. Credit facilities are provided by The Co‑operative Bank p.l.c. and are subject to status and our lending policy.
						The Bank reserves the right to decline any application for an account or credit facility. The Co‑operative Bank p.l.c. subscribes to the Standards of Lending Practice which are monitored by the Lending Standards Board.</p>
					<img class="footer__logo" src="/vendor/img/logo-white.png" alt="The Co-operative Bank" height="28" width="247">
				</div>

				<div class="footer__section">
					<ul class="list-sectors">
						<li><a href="https://www.co-operativebank.co.uk/">Personal</a></li>
						<!--
                -->
						<li><a href="https://www.co-operativebank.co.uk/business">Business</a></li>
						<!--
                -->
						<li><a href="https://www.co-operativebank.co.uk/corporate">Commercial</a></li>
						<!--
                -->
						<li><a href="https://www.co-operativebank.co.uk/offshorebanking">Offshore</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

{{> footer}}
