{{> header}}

<body>
	<div class="container cf">
		<div class="row">
			<div id="sidebar" class="sidebar">
				{{> navigation}}
			</div>

	  		<div class="content col-xs-6">
				<div class="content-show" id="lets-get-started">
		        	{{> lets-get-started}}
		      	</div>

				<div class="content-hide-show" id="sign-off">
					{{> sign-off}}
				</div>

				<div class="content-hide-show" id="copy-change">
			        {{> copy-change}}
			    </div>

			    <div class="content-hide-show" id="pdf-update">
			        {{> pdf-update}}
			    </div>

			    <div class="content-hide-show" id="rates-change">
			        {{> rates-change}}
			    </div>

			    <div class="content-hide-show" id="marketing-banner">
			        {{> marketing-banner}}
			    </div>

			    <div class="content-hide-show" id="new-page">
			        {{> new-page}}
			    </div>

			    <div class="content-hide-show" id="smeg">
			        {{> smeg}}
				</div>

			    <div class="content-hide-show" id="site-scrape">
			        {{> site-scrape}}
			    </div>

			    <div class="content-hide-show" id="page-deletion">
			        {{> page-deletion}}
			    </div>

			    <div class="content-hide-show" id="other-request">
			        {{> other-request}}
			    </div>

				<div class="content-hide-show" id="resolution-request">
			    	{{> resolution-request}}
			    </div>

				<div class="content-hide-show" id="submit">
			    	{{> submit}}
			    </div>

			</div>
		</div>
	</div>
</body>

{{> footer}}
