{{> header}}

<div class="container">
	<div class="row">
    <div class="col-xs-6">
      <a class="btn btn--secondary btn--has-icon" href="form.html" >
            Create New Change Request
        <span class="btn__icon">
          <svg role="img" aria-hidden="true" class="symbol symbol-angle-right" preserveAspectRatio="xMidYMid meet">
            <use xlink:href="/vendor/symbols/svg-symbols.svg#symbol-angle-right"></use>
          </svg>
        </span>
      </a>
	  </div>
    <div class="col-xs-6">
      <div class="form-item">
        <label for="activity-title" class="form-item__label">
          View progress of a current change request
          </label>
        <input type="search" name="activity-title" id="activity-title" class="form-item__control">
        <button>Search</button>
      </div>
	  </div>
  </div>
</div>

{{> footer}}
