{{> header}}


{{!-- <div class="p_test" id="p_test">
  <div class="file-input">
    <div class="input-file-container upl_drop">
      <input class="input-file" id="file-upload" type="file">
      <label tabindex="0" for="file-upload" id="input-file-trigger" class="input-file-trigger">Select a file...</label>
    </div>
    <div id="file-upload-filename"></div>
  </div>
  <button class="btn--add" id="addtest">
          Add
  </button>
</div> --}}
<fieldset class="form-item--date">
			<legend>
				<span>Date</span>
			</legend>
      <div class="form-item__control">
			<input type="date" class="datepicker"/>
      </div>
		</fieldset>
<br>
<br>
<fieldset class="form-item--date">
			<legend>
				<span>Date</span>
			</legend>
			<div class="form-item__control">
				<label for="date-day" class="sr-only">Day (DD)</label>
				<input type="number" class="form-item__control form-item__control--date" name="date-day" id="date-day" size="2" placeholder="DD">
				<span>/</span>
				<label for="date-month" class="sr-only">Month (MM)</label>
				<input type="number" class="form-item__control form-item__control--date" name="date-month" id="date-month" size="2" placeholder="MM">
				<span>/</span>
				<label for="date-year" class="sr-only">Year (YYYY)</label>
				<input type="number" class="form-item__control form-item__control--date" name="date-year" id="date-year" size="4" placeholder="YYYY">
			</div>
		</fieldset>


<div id="p_input_container">
  <div class="file-input">
    <div class="input-file-container upl_drop">
      <input class="input-file" type="file">
      <label tabindex="0" for="file-upload" class="input-file-trigger">Select a file...</label>
    </div>
      <div class="file-upload-filename"></div>
  </div>
  <button class="btn--add" id="addtest">Add</button>
</div>

<fieldset class="form-item form-item--boolean js-boolean-has-message">
  <legend>
    <span>This this copy non-negotiable?</span>
  </legend>
  <div class="form-radio">
    <input type="radio" name="non-negotiable" id="non-negotiable-yes" value="yes">
		<label class="form-radio__label" for="non-negotiable-yes">Yes</label>
  </div>
  <!--
      -->
  <div class="form-radio">
    <input type="radio" name="non-negotiable" id="non-negotiable-no" value="no">
		<label class="form-radio__label" for="non-negotiable-no">No</label>
  </div>
  <div style="display: none;" class="form-item js-boolean-has-message-yes">
		<!--Show Yes Start-->
	
	  <!-- Show Yes End-->
  </div>
  <div style="display: none;" class="form-item js-boolean-has-message-no">
    <!-- Show No Start -->

    <!-- Show No End -->
  </div>
</fieldset>


<!-- Tool Tip Start -->
<div class="tooltip">
  <span>?</span>
  <span class="tooltiptext">
    Test
  </span>
</div>
<!-- Tool Tip End -->

	<div class="form-item">
		<label for="activity-title" class="form-item__label">Please choose an appropriate title for this request.</label>
		<input type="text" name="activity-title" id="activity-title" class="form-item__control" required>
	</div>

<form id="form1" name="form1"> 
    Field 1: <input name="field1" type="text" />
</form>

<div>
    <input id="btn" type="button" value="Validate"/>
</div>




{{> footer}}
