{{> header}}

<div class="container">
	<div class="row">
		<div class="col-xs-12">
      <h2>Welcome</h2>
		<p>
			Welcome to the online briefing form for Digital.
		</p>
		<p>
			You can submit change requests for Bank, smile, Platform and Britannia domains. Please select the type of change request you wish to submit (you may select multiple) and complete the form with as much detail about the change as possible.
		</p>
		<p>
			If you have any queries about the Digital brief or submitting a change request, please send an email to the Digital Triage mailbox <br>
      <a href="mailto:digitaltriage@co-coperativebank.co.uk">(DigitalTriage@co-operativebank.co.uk)</a>.
		</p>


  <a class="btn btn--secondary btn--has-icon" href="about-digital-change.html" >
        Next
    <span class="btn__icon">
      <svg role="img" aria-hidden="true" class="symbol symbol-angle-right" preserveAspectRatio="xMidYMid meet">
        <use xlink:href="/vendor/symbols/svg-symbols.svg#symbol-angle-right"></use>
      </svg>
    </span>
  </a>

    </div>
  </div>
</div>

{{> footer}}
