<h3>Copy Change</h3>

<form id="form2" name="form2">
	<div class="form-item location">
		<label for="location" class="form-item__label">Please provide the location of the copy you would like to change
			<!-- Tool Tip Start -->
				<div class="help-tip">
					<p>
						This can be the URL of the page this content sits on, the title of the FAQ, or name and page of the application form etc.
					</p>
				</div>
			<!-- Tool Tip End -->
		</label>
		<textarea  name="achieve-details" id="achievedetails" class="form-item__control small"></textarea>
		<button type="button" class="btn--add" id="addnew1">Add</button>
		<button type="button" class="btn--remove" id="newrem1">Remove</button>
	</div>

	<div class="form-item">
		<div class="form-item">
			<label for="copy" class="form-item__label u-in-bl">Please provide the updated copy</label>
				<!-- Tool Tip Start -->
					<div class="help-tip">
						<p>
							This copy may be reviewed by our User Experience team to ensure that it meets our website guidelines.
						</p>
					</div>
				<!-- Tool Tip End -->
		</div>
		<textarea name="copy" id="copy" class="form-item__control small"></textarea>
			<div id="p_input_container">
				<div class="file-input">
					<div class="input-file-container upl_drop">
						<input class="input-file" type="file">
						<label tabindex="0" for="file-upload" class="input-file-trigger">Select a file...</label>
					</div>
						<div class="file-upload-filename"></div>
				</div>
			<button type="button" class="btn--add" id="addtest">Add</button>
		</div>
	</div>

	<fieldset class="form-item form-item--boolean js-boolean-has-message">
		<legend>
			<span>Is this copy non-negotiable?</span>
			<!-- Tool Tip Start -->
			<div class="help-tip">
				<p>
					If the copy is regulatory or eligibility related etc and can't be changed, please select 'Yes', otherwise our Digital User Experience team will make sure the copy meets our website guidelines.
				</p>
			</div>
		<!-- Tool Tip End -->
		</legend>
		<div class="form-radio">
			<input type="radio" name="non-negotiable" id="non-negotiable-yes" value="yes">
			<label class="form-radio__label" for="non-negotiable-yes">Yes</label>
		</div>
		<!--
				-->
		<div class="form-radio">
			<input type="radio" name="non-negotiable" id="non-negotiable-no" value="no">
			<label class="form-radio__label" for="non-negotiable-no">No</label>
		</div>
	</fieldset>

	<div class="form-item searchterms">
	<label for="search-terms" class="form-item__label">Please define search terms for Digital to perform a site scrape to ensure that all related content is identified
		<!-- Tool Tip Start -->
			<div class="help-tip">
				<p>
					This is essential for us to capture every location where this content sits.
				</p>
			</div>
		<!-- Tool Tip End -->
	</label>
	<textarea  name="search-terms" id="searchterms" class="form-item__control small"></textarea>
		<button type="button" class="btn--add" id="addnew2">Add</button>
		<button type="button" class="btn--remove" id="newrem2">Remove</button>
	</div>

		<div id="copychange" class="btn btn--primary btn--has-icon">
				Submit
				<span class="btn__icon">
					<span class="icon-angle-left"></span>
				</span>
		</div>

</form>


