<div class="form-title">
	<h2 class="brief-h2">Let's get started</h2>
	<p>
		We need you to complete all fields except where started
	</p>
</div>

<form id="form1" name="form1" class="form__user-details">
		<div >
			<h3>Submitter Details</h3>
			<label for="firstName2" class="form-item__label">First name</label>
			<input type="text" id="firstName1" name="firstName1" placeholder="First name..." class="form-item__control form-item__control--name">
		</div>
		<div >
			<label for="secondName2" class="form-item__label">Second name</label>
			<input type="text" id="secondName1" name="secondName1" placeholder="Second name..." class="form-item__control form-item__control--name">
		</div>
		<div >
			<label for="role" class="form-item__label">Role</label>
			<input type="text" id="role" name="role" placeholder="Role..." class="form-item__control form-item__control--name">
		</div>
		<div >
			<label for="contactnumber" class="form-item__label">Contact Number</label>
			<input type="number" id="contactnumber" name="contactnumber" placeholder="Contact Number..." class="form-item__control form-item__control--name">
		</div>
		<div >
			<label for="emailaddress" class="form-item__label">Email Address</label>
			<input type="email" id="emailaddress" name="emailaddress" placeholder="Email Address..." class="form-item__control">
		</div>


		<hr>

		<h3>Governance</h3>

		<fieldset id='goverance' class="form-item--boolean ">
			<legend>
				<span>Has this request been through the appropriate governance and signoff prior to submission to Digital?</span>
			</legend>
			<div class="form-radio">
				<input type="radio" name="governance" id="governanceyes" value="yes">
				<label class="form-radio__label" for="governanceyes">Yes</label>
			</div>
			<div class="form-radio">
				<input type="radio" name="governance" id="governanceno" value="no">
				<label class="form-radio__label" for="governanceno">No</label>
			</div>
		</fieldset>

		<hr>

		<h3>Activity Title</h3>

		<div >
			<label for="activitytitle" class="form-item__label">Please choose an appropriate title for this request.</label>
			<input type="text" name="activitytitle" id="activitytitle" class="form-item__control">
		</div>

		<hr>

		<h3>Delivery Date</h3>

		<fieldset class="form-item--date">
			<legend>
				<span>Date</span>
			</legend>
			<div class="form-item__control">
				<input type="date" id="date"/>
			</div>
		</fieldset>



		<fieldset class="form-item--boolean js-boolean-has-message">
			<legend>
				<span>Is there a critical live time on the day?
					<!-- Tool Tip Start -->
						<div class="help-tip">
							<p>
								If your requested changes don't need to go live at a precise time, your task will be pushed live at the earliest possible time on the date referenced.
							</p>
						</div>
					<!-- Tool Tip End -->
				</span>
			</legend>
			<div class="form-radio">
				<input type="radio" name="criticalLive" id="critical-yes" value="yes">
				<label class="form-radio__label" for="critical-yes">Yes</label>
			</div>
			<!--
	-->
			<div class="form-radio">
				<input type="radio" name="criticalLive" id="critical-no" value="no">
				<label for="critical-no" class="form-radio__label">No</label>
			</div>
			<div style="display: none;" class="js-boolean-has-message-yes">
				<!-- Show Yes Start -->
				<div>
					<label for="what-time" class="form-item__label">What time?</label>
					<input type="text" name="what-time" id="what-time" class="form-item__control">
				</div>
				<div>
					<label for="drive-date" class="form-item__label">What drives this delivery date?</label>
					<div class="form-item__select-container">
						<select class="form-item__control" name="drive-date" id="drive-date">
							<option value="" disabled selected hidden>Select your option</option>
							<option value="regulatory">Regulatory</option>
							<option value="productlauch">Product Launch</option>
							<option value="marketingcampaign">Marketing Campaign</option>
							<option id="other" value="other">Other</option>
						</select>
						<span class="form-item__select-arrow"></span>
					</div>
					<!-- Tool Tip Start -->
						<div class="help-tip">
							<p>
								Is this a hard deadline, such as a marketing campaign launch or regulatory change, or an aspirational date?
							</p>
						</div>
					<!-- Tool Tip End -->
				</div>
				<div id="other-input">
					<label for="other-info" class="form-item__label">Other</label>
					<input type="text" name="other-info" id="other-info" class="form-item__control">
				</div>
				<!-- Show Yes End -->
			</div>
			<div style="display: none;" class="js-boolean-has-message-no">
				<!-- Show No Start -->
				<div>
					<label for="drive-date" class="form-item__label">What drives this delivery date?</label>
					<div class="form-item__select-container">
						<select class="form-item__control" name="drive-date" id="drive-date2">
							<option value="" disabled selected hidden>Select your option</option>
							<option value="regulatory">Regulatory</option>
							<option value="productlauch">Product Launch</option>
							<option value="marketingcampaign">Marketing Campaign</option>
							<option id="other2" value="other">Other</option>
						</select>
						<span class="form-item__select-arrow"></span>
					</div>
					<!-- Tool Tip Start -->
						<div class="help-tip">
							<p>
								Is this a hard deadline, such as a marketing campaign launch or regulatory change, or an aspirational date?
							</p>
						</div>
					<!-- Tool Tip End -->
				</div>
				<div id="other-input2">
					<label for="other-info2" class="form-item__label">Other</label>
					<input type="text" name="other-info2" id="other-info2" class="form-item__control">
				</div>
				<!-- Show No End -->
			</div>
		</fieldset>
</form>

	<div id ="letsgetstarted" value="Validate" class="btn btn--primary btn--has-icon">
			Submit
			<span class="btn__icon">
				<span class="icon-angle-left"></span>
			</span>
		</div>
