<h3>Marketing Banner</h3>

<fieldset class="form-item form-item--boolean js-boolean-has-message">
  <legend>
    <span>Is this banner part of a wider campaign?</span>
  </legend>

  <div class="form-radio">
    <input type="radio" name="banner-objective" id="banner-objective-yes" value="yes">
    <label class="form-radio__label" for="banner-objective-yes">Yes</label>
  </div>
  <!--
      -->
  <div class="form-radio">
    <input type="radio" name="banner-objective" id="banner-objective-no" value="no">
    <label class="form-radio__label" for="banner-objective-no">No</label>
  </div>
  <div style="display: none;" class="form-item js-boolean-has-message-yes">
    <!--Show Yes Start-->
    <div class="form-item">
      <label for="campaign" class="form-item__label">Which campaign?</label>
      <input type="text" name="campaign" id="campaign" class="form-item__control">
    </div>

    <div class="form-item">
      <label for="domain-objective" class="form-item__label">What is the objective of this banner?</label>
      <div class="form-item__select-container">
        <select class="form-item__control" name="domain-objective" id="domain-objective">
          <option value="" disabled selected hidden>Select your option</option>
          <option>smile</option>
          <option>Co-operative</option>
          <option>Extra</option>
        </select>
        <span class="form-item__select-arrow"></span>
      </div>
    </div>

    <div class="form-item">
      <label for="exposed-banner" class="form-item__label">Who needs to be exposed to this banner?</label>
      <input type="text" name="exposed-banner" id="exposed-banner" class="form-item__control">
    </div>

    <div class="form-item">
      <label for="libraries-banner" class="form-item__label">Where does this banner need to link to?</label>
      <input type="text" name="link-banner" id="libraries-banner" class="form-item__control">
    </div>

    <div class="form-item">
      <label for="libraries-copy" class="form-item__label">Please provide copy or an idea of the message.</label>
      <input type="text" name="banner-copy" id="libraries-copy" class="form-item__control">
    </div>

    <div id="p_input_container">
      <legend>
        <span>
          Please Provide an image or an idea of the image
        </span>
      </legend>
      <div class="file-input">
        <div class="input-file-container upl_drop">
          <input class="input-file" type="file">
          <label tabindex="0" for="file-upload" class="input-file-trigger">Select a file...</label>
        </div>
        <div class="file-upload-filename"></div>
      </div>
      <button class="btn--add" id="addtest">Add</button>
    </div>

    <!-- Show Yes End-->
  </div>
  <div style="display: none;" class="form-item js-boolean-has-message-no">
    <!-- Show No Start -->
    <div class="form-item">
      <label for="domain-objective" class="form-item__label">What is the objective of this banner?</label>
      <div class="form-item__select-container">
        <select class="form-item__control" name="domain-objective" id="domain-objective">
          <option value="" disabled selected hidden>Select your option</option>
          <option>smile</option>
          <option>Co-operative</option>
          <option>Extra</option>
        </select>
        <span class="form-item__select-arrow"></span>
      </div>
    </div>

    <div class="form-item">
      <label for="exposed-banner" class="form-item__label">Who needs to be exposed to this banner?</label>
      <input type="text" name="exposed-banner" id="exposed-banner" class="form-item__control">
    </div>

    <div class="form-item">
      <label for="libraries-banner" class="form-item__label">Where does this banner need to link to?</label>
      <input type="text" name="link-banner" id="libraries-banner" class="form-item__control">
    </div>

    <div class="form-item">
      <label for="libraries-copy" class="form-item__label">Please provide copy or an idea of the message.</label>
      <input type="text" name="banner-copy" id="libraries-copy" class="form-item__control">
    </div>

    <div id="p_input_container">
      <legend>
        <span>
          Please Provide an image or an idea of the image
        </span>
      </legend>
      <div class="file-input">
        <div class="input-file-container upl_drop">
          <input class="input-file" type="file">
          <label tabindex="0" for="file-upload" class="input-file-trigger">Select a file...</label>
        </div>
        <div class="file-upload-filename"></div>
      </div>
      <button class="btn--add" id="addtest">Add</button>
    </div>
    <!-- Show No End -->
  </div>
</fieldset>

<div id="marketingbanner" class="btn btn--primary btn--has-icon">
  Submit
  <span class="btn__icon">
    <span class="icon-angle-left"></span>
  </span>
</div>