<h3>New Page</h3>

<div class="form-item">
	<label for="aspirational-url" class="form-item__label">Please provide an aspirational URL
		<!-- Tool Tip Start -->
			<div class="help-tip">
				<p>
					The URL may be changed to meet Digital guidelines.
				</p>
			</div>
		<!-- Tool Tip End -->
	</label>
	<input type="text" name="aspirational-url" id="aspirational-url" class="form-item__control">
</div>

<div id="p_input_container">
	<legend>
		<span>
			Please provide page content (Copy, images etc.)
			<!-- Tool Tip Start -->
				<div class="help-tip">
					<p>
						The content will be reviewed by our User Experience team to ensure that it meets our website guidelines.
					</p>
				</div>
			<!-- Tool Tip End -->
		</span>
	</legend>
	<textarea  name="aspirational-url-textarea" id="aspirational-url-textarea" class="form-item__control"></textarea>
  <div class="file-input">
    <div class="input-file-container upl_drop">
      <input class="input-file" type="file">
      <label tabindex="0" for="file-upload" class="input-file-trigger">Select a file...</label>
    </div>
    <div class="file-upload-filename"></div>
  </div>
  <button class="btn--add" id="addtest">Add</button>
</div>

<fieldset class="form-item form-item--boolean js-boolean-has-message">
  <legend>
    <span>Are there any links on the page?</span>
  </legend>
  <div class="form-radio">
    <input type="radio" name="links-on-page" id="links-on-page-yes" value="yes">
		<label class="form-radio__label" for="links-on-page-yes">Yes</label>
  </div>
  <!--
      -->
  <div class="form-radio">
    <input type="radio" name="links-on-page" id="links-on-page-no" value="no">
		<label class="form-radio__label" for="links-on-page-no">No</label>
  </div>
  <div style="display: none;" class="form-item js-boolean-has-message-yes">
		<!--Show Yes Start-->
		<div class="form-item">
			<label for="page-url" class="form-item__label">Please provide links</label>
			<input type="text" name="page-url" id="page-url" class="form-item__control">
		</div>
	  <!-- Show Yes End-->
  </div>
  <div style="display: none;" class="form-item js-boolean-has-message-no">
    <!-- Show No Start -->

		<fieldset class="form-item form-item--boolean js-boolean-has-message">
				<legend>
					<span>Will this page be linked to?</span>
				</legend>
				<div class="form-radio">
					<input type="radio" name="page-link" id="page-link-yes" value="yes">
					<label class="form-radio__label" for="page-link-yes">Yes</label>
				</div>
				<div class="form-radio">
					<input type="radio" name="page-link" id="page-link-no" value="no">
					<label class="form-radio__label" for="page-link-no">No</label>
				</div>
				<div style="display: none;" class="form-item js-boolean-has-message-yes">
					<!--Show Yes Start-->
						<div class="form-item">
							<label for="page-from-url" class="form-item__label">Please provide the location(s) of where this page will be linked from.</label>
							<input type="text" name="page-from-url" id="page-from-url" class="form-item__control">
						</div>
					<!-- Show Yes End-->
				</div>
				<div style="display: none;" class="form-item js-boolean-has-message-no">
					<!-- Show No Start -->

					<fieldset class="form-item form-item--boolean">
						<legend>
							<span>Does this page need to be added to the sitemap?</span>
						</legend>
						<div class="form-radio">
							<input type="radio" name="sitemap-new" id="sitemap-new-yes" value="yes">
							<label class="form-radio__label" for="sitemap-new-yes">Yes</label>
						</div>
						<!--
								-->
						<div class="form-radio">
							<input type="radio" name="sitemap-new" id="sitemap-new-no" value="no">
							<label class="form-radio__label" for="sitemap-new-no">No</label>
						</div>
					</fieldset>

					<!-- Show No End -->
				</div>
			</fieldset>

    <!-- Show No End -->
  </div>
</fieldset>

	<div id ="newpage" class="btn btn--primary btn--has-icon">
			Submit
			<span class="btn__icon">
				<span class="icon-angle-left"></span>
			</span>
		</div>