<h3>Other Request</h3>

<div class="form-item">
	<label for="other-request-details" class="form-item__label">Please provide a detailed description of the change request and what support is required from Digital</label>
	<textarea  name="other-request-details" id="otherrequestdetails" class="form-item__control small"></textarea>
</div>

<div class="form-item locationrequestdetails">
	<div class="form-item">
		<label for="location-request-details" class="form-item__label">Please provide the location of the assets impacted by these changes (if required and known)</label>
		<textarea  name="location-request-details" id="locationrequestdetails" class="form-item__control small"></textarea>
		<button type="button" class="btn--add" id="addnew3">Add</button>
		<button type="button" class="btn--remove" id="newrem3">Remove</button>
	</div>
</div>

<div class="form-item otherrequestsearchterms">
	<div class="form-item">
		<label for="otherrequestsearchterms" class="form-item__label">Please define search terms for Digital to perform a site scrape to ensure that all related content is identified (if required)</label>
		<textarea  name="other-request-search-terms" id="otherrequestsearchterms" class="form-item__control small"></textarea>
		<button type="button" class="btn--add" id="addnew4">Add</button>
		<button type="button" class="btn--remove" id="newrem4">Remove</button>
	</div>
</div>

	<div id ="otherrequest" class="btn btn--primary btn--has-icon">
			Submit
			<span class="btn__icon">
				<span class="icon-angle-left"></span>
			</span>
		</div>
