<h3>Page Deletion</h3>

<div class="form-item">
	<label for="delegated-asset" class="form-item__label">Please provide the asset (URL, FAQ title, SMEG title, or PDF) that needs to be deleted
		<!-- Tool Tip Start -->
			<div class="help-tip">
				<p>
					Digital will find everywhere that includes links to this asset and remove the links.
				</p>
			</div>
		<!-- Tool Tip End -->
	</label>
	<input type="text" name="delegated-asset" id="delegated-asset" class="form-item__control">
</div>

<div class="form-item">
	<label for="deleted-asset" class="form-item__label">Please explain why this asset needs to be deleted</label>
	<textarea name="deleted-asset" id="deleted-asset" class="form-item__control"></textarea>
</div>

<div class="form-item">
	<label for="defined-search-term" class="form-item__label">Please define search terms for Digital to perform a site scrape to ensure that all unnecessary content is identified.</label>
	<input type="text" name="defined-search-term" id="defined-search-term" class="form-item__control">
</div>

	<div id ="pagedeletion" class="btn btn--primary btn--has-icon">
			Submit
			<span class="btn__icon">
				<span class="icon-angle-left"></span>
			</span>
		</div>
