<h3>PDF Update</h3>

<form id="form3" name="form3"></form>
  <fieldset class="form-item form-item--boolean js-boolean-has-message">
    <legend>
      <span>Do you have the asset(s)</span>
    </legend>
    <div class="form-radio">
      <input type="radio" name="assets" id="assets-yes" value="yes">
      <label class="form-radio__label" for="assets-yes">Yes</label>
    </div>
    <!--
        -->
    <div class="form-radio">
    <input type="radio" name="assets" id="assets-no" value="no">
      <label for="assets-no" class="form-radio__label">No</label>
    </div>

    <div style="display: none;" class="form-item js-boolean-has-message-no">
      <!-- Show No Start -->

        <fieldset class="form-item--date">
          <legend>
            <span>When will you be able to provide the asset(s)?
              <!-- Tool Tip Start -->
              <div class="help-tip">
                <p>
                  You will be contacted by a Digital colleague to acquire the asset(s) on or before this date, the asset(s) should be provided directly to that colleague.
                </p>
              </div>
            <!-- Tool Tip End -->
            </span>
          </legend>
          <div class="form-item__control">
            <input type="date" id="date" />
          </div>
        </fieldset>

      <!-- Show No End -->
    </div>
    <div style="display: none;" class="form-item js-boolean-has-message-yes">
      <!--Show Yes Start-->

        <fieldset class="form-item form-item--boolean js-boolean-has-message">
          <legend>
            <span>Is this replacing an existing asset?</span>
          </legend>
          <div class="form-radio">
            <input type="radio" name="existing-asset" id="existing-asset-yes" value="yes">
            <label class="form-radio__label" for="existing-asset-yes">Yes</label>
          </div>
          <!--
              -->
          <div class="form-radio">
            <input type="radio" name="existing-asset" id="existing-asset-no" value="no">
            <label class="form-radio__label" for="existing-asset-no">No</label>
          </div>
          <div style="display: none;" class="form-item js-boolean-has-message-no">
            <!-- Show No Start -->
              <div id="p_input_container">
                <legend>
                  <span>Attach Asset (if applicable)</span>
                </legend>
                  <div class="file-input">
                    <div class="input-file-container upl_drop">
                      <input class="input-file" type="file">
                      <label tabindex="0" for="file-upload" class="input-file-trigger">Select a file...</label>
                    </div>
                    <div class="file-upload-filename"></div>
                  </div>
                  <button class="btn--add" id="addtest">Add</button>
              </div>
            <!-- Show No End -->
          </div>
          <div style="display: none;" class="form-item js-boolean-has-message-yes">
            <!--Show Yes Start-->

            <fieldset class="form-item form-item--boolean js-boolean-has-message">
              <legend>
                <span>Do you know where this asset sits?</span>
              </legend>
              <div class="form-radio">
                <input type="radio" name="asset-location" id="asset-location-yes" value="yes">
                <label class="form-radio__label" for="asset-location-yes">Yes</label>
              </div>
              <!--
                  -->
              <div class="form-radio">
                <input type="radio" name="asset-location" id="asset-location-no" value="no">
                <label class="form-radio__label" for="asset-location-no">No</label>
              </div>
              <div style="display: none;" class="form-item js-boolean-has-message-yes">
                <!--Show Yes Start-->
                  <div class="form-item">
                    <label for="asset-url" class="form-item__label">Asset location (URL)</label>
                    <input type="text" name="asset-url" id="asset-url" class="form-item__control" required>
                  </div>

                  <div id="p_input_container">
                    <legend>
                      <span>Attach Asset (if applicable)</span>
                    </legend>
                    <div class="file-input">
                      <div class="input-file-container upl_drop">
                        <input class="input-file" type="file">
                        <label tabindex="0" for="file-upload" class="input-file-trigger">Select a file...</label>
                      </div>
                      <div class="file-upload-filename"></div>
                    </div>
                    <button class="btn--add" id="addtest">Add</button>
                  </div>
                <!-- Show Yes End-->
              </div>
              <div style="display: none;" class="form-item js-boolean-has-message-no">
                <!-- Show No Start -->
                  <div class="form-item">
                    <label for="pdf-code" class="form-item__label">Provide marketing code of the PDF this is replacing</label>
                    <input type="text" name="pdf-code" id="pdf-code" class="form-item__control" required>
                  </div>
                  <div id="p_input_container">
                    <legend>
                      <span>Attach Asset (if applicable)</span>
                    </legend>
                    <div class="file-input">
                      <div class="input-file-container upl_drop">
                        <input class="input-file" type="file">
                        <label tabindex="0" for="file-upload" class="input-file-trigger">Select a file...</label>
                      </div>
                      <div class="file-upload-filename"></div>
                    </div>
                    <button class="btn--add" id="addtest">Add</button>
                  </div>
                <!-- Show No End -->
              </div>
            </fieldset>
          
            <!-- Show Yes End-->
          </div>
        </fieldset>

      <!-- Show Yes End-->
    </div>

  </fieldset>

    <div id ="pdfupdate" class="btn btn--primary btn--has-icon">
        Submit
        <span class="btn__icon">
          <span class="icon-angle-left"></span>
        </span>
      </div>
</form>