<h3>Rates Change</h3>

<fieldset class="form-item form-item--boolean js-boolean-has-message">
	<legend>
		<span>Do you have the rates?
      <!-- Tool Tip Start -->
        <div class="help-tip">
          <p>
            If this is a notice of a future rates change, please select 'No'.
          </p>
        </div>
      <!-- Tool Tip End -->
    </span>
	</legend>
	<div class="form-radio">
		<input type="radio" name="rates" id="rates-yes" value="yes">
		<label class="form-radio__label" for="rates-yes">Yes</label>
	</div>
  <!--
    -->
	<div class="form-radio">
		<input type="radio" name="rates" id="rates-no" value="no">
		<label class="form-radio__label" for="rates-no">No</label>
	</div>

  <div style="display: none;" class="form-item js-boolean-has-message-yes">
		<!--Show Yes Start-->
      <div class="form-item">
        <label for="rate-change" class="form-item__label">What type of rate change is this?</label>
        <input type="text" name="rate-change" id="rate-change" class="form-item__control">
      </div>
      <div id="p_input_container">
        <legend>
          <span>
            Please attach the rates and representative examples if applicable.
          </span>
        </legend>
        <div id="p_input_container">
          <div class="file-input">
            <div class="input-file-container upl_drop">
              <input class="input-file" type="file">
              <label tabindex="0" for="file-upload" class="input-file-trigger">Select a file...</label>
            </div>
              <div class="file-upload-filename"></div>
          </div>
          <button class="btn--add" id="addtest">Add</button>
        </div>
	  <!-- Show Yes End-->
      </div>
  </div>

  <div style="display: none;" class="form-item js-boolean-has-message-no">
    <!-- Show No Start -->
    <fieldset class="form-item form-item--date">
        <legend>
          <span>When will you be able to provide the rates?
            <!-- Tool Tip Start -->
          <div class="help-tip">
            <p>
              You will be contacted by a Digital colleague to acquire the rates on or before this date. The rates should be provided directly to that colleague. 	
            </p>
          </div>
        <!-- Tool Tip End -->
          </span>
        </legend>
        <div class="form-item__control">
          <input type="date" class="datepicker"/>
        </div>
      </fieldset>
      <div class="form-item">
        <label for="rate-all-change" class="form-item__label">What type of rate change is this?</label>
        <input type="text" name="rate-all-change" id="rate-all-change" class="form-item__control" required>
      </div>
  </div>
</fieldset>

	<div id ="rateschange" class="btn btn--primary btn--has-icon">
			Submit
			<span class="btn__icon">
				<span class="icon-angle-left"></span>
			</span>
		</div>