<h3>Resolution Request</h3>

<div class="form-item">
	<label for="achieve-details" class="form-item__label">Please provide a detailed description of what you want to achieve.</label>
	<textarea  name="achieve-details" id="achieve-details" class="form-item__control"></textarea>
</div>

<div class="form-item">
	<label for="success-details" class="form-item__label">What does success look like to you?
		<!-- Tool Tip Start -->
			<div class="help-tip">
				<p>
					A quantifiable measurement. For example, £10,000 in revenue, 5% increase in conversion, etc.
				</p>
			</div>
		<!-- Tool Tip End -->
	</label>
	<textarea name="success-details" id="success-details" class="form-item__control"></textarea>
</div>

<div class="form-item">
	<label for="budget-details" class="form-item__label">Is there a budget for this work?</label>
	<textarea name="budget-details" id="budget-details" class="form-item__control"></textarea>
</div>

<div class="form-item">
	<label for="currently-know-details" class="form-item__label">What do you know currently?
		<!-- Tool Tip Start -->
			<div class="help-tip">
				<p>
					Any additional information - including metrics, such as what do customers think, current usage, is it a new concept? Etc.
				</p>
			</div>
		<!-- Tool Tip End -->
	</label>
	<textarea name="currently-know-details" id="currently-know-details" class="form-item__control"></textarea>
</div>

	<div id="resolutionrequest" class="btn btn--primary btn--has-icon">
			Submit
			<span class="btn__icon">
				<span class="icon-angle-left"></span>
			</span>
		</div>