<div class="form-title">
	<h2 class="brief-h2">Who needs to approve this change?</h2>
	<p>
		We need you to complete all fields except where stated
	</p>
</div>

<form id="form2" name="form2" class="form__user-details">
	<h3 id="newapprover">Approver Details</h3>
		<div class="apvbox">
			Approver 1
		</div>
			<div id="approver">
				<div>
					<label for="firstName2" class="form-item__label">First name</label>
					<input type="text" id="firstName1" name="firstName1" placeholder="First name..." class="form-item__control form-item__control--name">
				</div>
				<div>
					<label for="secondName2" class="form-item__label">Second name</label>
					<input type="text" id="secondName1" name="secondName1" placeholder="Second name..." class="form-item__control form-item__control--name">
				</div>
				<div>
					<label for="role" class="form-item__label">Role</label>
					<input type="text" id="role" name="role" placeholder="Role..." class="form-item__control form-item__control--name">
				</div>
				<div>
					<label for="contactnumber" class="form-item__label">Contact Number</label>
					<input type="number" id="contactnumber" name="contactnumber" placeholder="Contact Number..." class="form-item__control form-item__control--name">
				</div>
				<div>
					<label for="emailaddress" class="form-item__label">Email Address</label>
					<input type="email" id="emailaddress" name="emailaddress" placeholder="Email Address..." class="form-item__control">
				</div>
			</div>
</form>

<div id="signoff" class="btn btn--primary btn--has-icon">
    Submit
    <span class="btn__icon">
        <span class="icon-angle-left"></span>
    </span>
</div>
<div id="addnew" class="btn btn--primary btn--has-icon">
    Add New Approver
    <span class="btn__icon">
        <span class="icon-angle-left"></span>
    </span>
</div>