<h3>Site Scrape</h3>

<div class="form-item">
	<label for="site-scrape" class="form-item__label">Please define search terms for Digital to perform a site scrape</label>
	<input type="text" name="site-scrape" id="site-scrape" class="form-item__control">
</div>

<div class="form-item">
  <label for="scrape-domain" class="form-item__label">Which domain(s) would you like us to search?</label>
  <div class="form-item__select-container scrapedomain">
    <select class="form-item__control" name="scrape-domain" id="scrapedomain">
			<option value="" disabled selected hidden>Select your option</option>
			<option value="co-operativebank">Co-operative Bank</option>
			<option value="smile">smile</option>
			<option value="platform">Platform</option>
			<option value="britannia">Britannia</option>
		</select>
    <span class="form-item__select-arrow"></span>
  </div>
</div>
<button type="button" class="btn--add" id="addnew5">Add</button>
<button type="button" class="btn--remove" id="newrem5">Remove</button>

<div class="form-item">
	<label for="site-scrape-search" class="form-item__label">Which business area would you like us to search?
		<!-- Tool Tip Start -->
			<div class="help-tip">
				<p>
					If you would like us to search the whole site, please leave blank.
				</p>
			</div>
		<!-- Tool Tip End -->
	</label>
	<input type="text" name="site-scrape-search" id="site-scrape-search" class="form-item__control">
</div>

	<div id ="sitescrape" class="btn btn--primary btn--has-icon">
			Submit
			<span class="btn__icon">
				<span class="icon-angle-left"></span>
			</span>
		</div>
