<h3>Secure Message Update (SMEG)</h3>
<fieldset class="form-item form-item--boolean js-boolean-has-message">
	<legend>
		<span>What type of SMEG is this?
			<!-- Tool Tip Start -->
				<div class="help-tip">
					<p>
						An automated SMEG is a message we send to a customer based on actions they complete on their account. A manual SMEG is a message we send to a customer ad hoc.	
					</p>
				</div>
			<!-- Tool Tip End -->
		</span>
	</legend>
	<div class="form-radio">
		<input type="radio" name="setUp" id="setUp-yes" value="yes">
		<label class="form-radio__label" for="setUp-yes">Manual</label>
	</div>
	<div class="form-radio">
		<input type="radio" name="setUp" id="setUp-no" value="no">
		<label class="form-radio__label" for="setUp-no">Automated</label>
	</div>
	<div style="display: none;" class="form-item js-boolean-has-message-yes">
		<!--Show yes Start-->
		<div class="form-item">
			<label for="smeg-libraries" class="form-item__label">Please provide the subject title and message title from the below libraries</label>
			<input type="text" name="smeg-libraries" id="smeg-libraries" class="form-item__control" required>
		</div>
		<div class="banks-libaries">
			<span>
				<h4>Co-operative Bank</h4>
				<a target="_blank" href="https://theplace.digitalcms/about/co-op-smeg-libary">https://theplace.digitalcms/about/co-op-smeg-library</a>
			</span>
			<br>
			<br>
			<span>
				<h4>smile</h4>
				<a target="_blank" href="https://theplace.digitalcms/about/smeg-libary">https://theplace.digitalcms/about/smeg-library</a>
			</span>
		</div>
	  <!-- Show yes End-->
  </div>
  <div style="display: none;" class="form-item js-boolean-has-message-no">
    <!-- Show no Start -->
			<div class="form-item">
				<label for="key-words" class="form-item__label">To ensure that we change all required messages, please provide a list of key words we can search for</label>
				<input type="text" name="key-words" id="key-words" class="form-item__control" required>
			</div>

			<div class="form-item">
				<label for="proposed-copy" class="form-item__label">Please provide proposed copy or an idea of the message
					<!-- Tool Tip Start -->
						<div class="help-tip">
							<p>
								The content will be reviewed by our User Experience team to ensure that it meets our website guidelines.	
							</p>
						</div>
					<!-- Tool Tip End -->
				</label>
				<textarea  name="proposed-copy" id="proposed-copy" class="form-item__control"></textarea>
			</div>

			<div id="p_input_container">
				<legend>
					<span>
						Please attach evidence of any content approval you have received (if applicable).
					</span>
				</legend>
				<div class="file-input">
					<div class="input-file-container upl_drop">
						<input class="input-file" type="file">
						<label tabindex="0" for="file-upload" class="input-file-trigger">Select a file...</label>
					</div>
					<div class="file-upload-filename"></div>
				</div>
				<button class="btn--add" id="addtest">Add</button>
			</div>
    <!-- Show no End -->
  </div>
</fieldset>

	<div id ="smegupdate" class="btn btn--primary btn--has-icon">
			Submit
			<span class="btn__icon">
				<span class="icon-angle-left"></span>
			</span>
		</div>





