
/*
#### Headings and text overrides ####
*/

.brief-h2{
    margin-bottom: 5px;
}

input.form-item__control {
    width: 100%;
}

textarea.form-item__control{
  width: 75%;
  min-width: 200px;
  max-width: 300px;
  transition: width 0.25s;
  resize:none;
  overflow:hidden;
  height: 100px;
}
textarea.small{
  width: 75%;
  min-width: 200px;
  max-width: 300px;
  transition: width 0.25s;
  resize:none;
  overflow:hidden;
  height: 10px;
}


.form-item__control--name{
    width: 268px !important;
}

.form-item__control--date{
    width: 268px !important;
}

.u-mb{
    margin-bottom: 20px;
}

.u-in-bl{
    display: inline-block !important;
}

/*
#### Titles and the like ####
*/
.form-title{
    margin-bottom: 25px;
}

.form__user-details {
    margin-bottom: 10px;
}

/*
#### Drag & Drop Box ####
*/

.p_test{
  display: inline-block;
}

.upl_drop{
  border: 2px dashed #000;
  margin: 0px 0px 15px 0px;
}

.btn--add p{
  cursor: pointer;
}

.input-file-container {
  position: relative;
  width:225px;
  display: inline-block;
}
.input-file-container-width {
    width: auto;
}

.input-file-trigger {
  display: block;
  padding: 14px 45px;
  background: #ffffff;
  color: #1899cd;
  font-size: 1em;
  cursor: pointer;
}
.input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
 .input-file:hover + .input-file-trigger,
 .input-file:focus + .input-file-trigger,
 .input-file-trigger:hover,
 .input-file-trigger:focus {
  background: #1899cd;
  color: #ffffff;
}
span.remtest.btn--remove {
  vertical-align: top;
}

/*
#### Side Navigation ####
*/

.sidebar ul{
  line-height: 2;
  list-style: none;
  padding-left: 0;
}

.sidebar li a:hover{
  text-decoration: underline;
  color: #ffffff;
}
.sidebar li a:focus{
  text-decoration: underline;
  color: #ffffff;
}
.sidebar a{
  text-decoration: none;
  color: #ffffff;
}

.nav-icon{
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 0px 20px 0px 0px;
  color: #0494cd;
}

.cf::before,
.cf::after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf::after {
    clear: both;
}

.sidebar {
  padding: 20px;
  background-color: #002663;
  color: #fff;
  width: 45%;
  float: left;
  margin-right: 5%;

  /* The sticky */
  position: -webkit-sticky;
  position: sticky;
  top: 15px;

}
.content {
  float: right;
}

.content-text-hide-show {
  font-size: 12px;
  padding-left: 34px;
  line-height: 1;
}

.content-text-hide-show:hover {
  text-decoration: none;
}

/*
########## Tooltip ##########
*/

.help-tip{
  position: relative;
  text-align: center;
  border: 1px solid #000;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 22px;
  cursor: default;
  display: inline-block;
  margin-left: 10px;
}

.help-tip:before{
  content:'?';
  font-weight: bold;
  color:#000;
}

.help-tip:hover p{
  display:block;
  transform-origin: 100% 0%;

  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
  display: none;
  text-align: left;
  background-color: #002663;
  padding: 20px;
  width: 300px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  right: -4px;
  color: #FFF;
  font-size: 13px;
  line-height: 1.4;
  z-index: 1;
}

.help-tip p:before{ /* The pointer of the tooltip */
  position: absolute;
  content: '';
  width:0;
  height: 0;
  border:6px solid transparent;
  border-bottom-color:#1E2021;
  right:10px;
  top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
  width:100%;
  height:40px;
  content:'';
  position: absolute;
  top:-40px;
  left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
  0% { 
      opacity:0; 
      transform: scale(0.6);
  }

  100% {
      opacity:100%;
      transform: scale(1);
  }
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:100%; }
}


/*
########## Submitted Tick ##########
*/

.submitted-tick {
  float: right;
}

.submitted-tick img {
  border-radius: 50%;
}




/*
#### Misc ####
*/

hr {
  opacity: 0.3;
}

.navigation-menu {
  display: none;
}

.nav-head{
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#drop-menu {
  margin-left: 30px;
}

div#drop-trigger:hover {
  text-decoration:  underline;
  cursor:  pointer;
}

label.error {
  color: red;
  padding-left: 10px;
}

label.error:before {
  content: url(/image/warning-icon.png);
}

input[type="date"] {
border: none;
margin: 8px;
text-transform: uppercase;
}

.apvbox {
  border: 1px solid black;
  display: none;
}

.form-item__control ~ .form-item__control {
  margin-left: 0 !important;
}
